fit-pucture {
    font-size:20px;
}
button {
    width: 2000px;
    background-color: black;
    color: white;
  }

  div{
      width:2000px;
      height:2000px;
      background-color: maroon;
  }
  div#tekst_sverhu_kartinki {

    position: relative;
    
    }.tekst_sverhu_kartinki {
    
    position: absolute;
    
    top: 50%;
    
    left: 65px;
    
    text-transform: uppercase;
    
    color: white;
    
    width: 350px;
    
    background: #00000094;
    
    padding: 10px;
    
    text-align: center;
    
    font: bold 24px/34px Helvetica, Sans-Serif;
    
    }
    
    