.body{
  margin: 0;
  font-size:100%;
  font-weight:normal;
}

.footer {
  height: 150px;
  background-color:black;
  display: flex;
}
  
.footer-author {
  background-color: white;
  font-size: 24px;
  margin: auto;
}


.header {
  height: 100vh;
  background-color: #eee;
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614441355_34-p-temnii-fon-dlya-chata-41.jpg);
  background-size: cover;
  background-position:center;
  text-align: center;
}
.header-title {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin:auto; 
}

.overlay  {
  display:flex;
  width: 100%;
  height: 21%;
  background-color: rgba(0, 0, 0, .5) 
  }
  .knopka{
    font-size:50px;
    margin:auto;
  }