fit-pucture {
    font-size:20px;
}

text {

  display:flex;
  margin: auto;

}
 
footer {
  background-color: slategray;
  height: 300px;
}
  
footer-author{
  font-size: 24px;
  background-color: white;
}
    